<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>51601C32-FAAB-4DF4-A11D-E3217CCFA44C</string>
	<key>title</key>
	<string>常用</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
